<div class="row">
  <div class="col-lg-12">
    <h3><%= "@" + article.user.username %> shared This.</h3>
    <h5><%=link_to article.url, article.url %></h5>
    <div class="row">
      <div class="col-lg-8">
        <%= time_ago_in_words(article.created_at) %>
      </div>
      <div class="col-lg-4">
        <h6><%= article.user.username  %></h6>
      </div>
    </div>
  </div>
</div>
